.navbar-bright {
    background-color:#111155;
    color:#fff;
}

.affix-top, .affix{
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:10px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:40px;
        width:228px;
    }
}
#sidebar li.active {
    border:0 #eee solid;
    border-right-width:5px;
}
#sidebar li {
    margin-left: -15px;
}
#sidebar ul.nested a {
    color: #475f71;
}

.panel .panel-heading {
    padding-top: 7px;
    padding-bottom: 8px;
}
.panel .panel-heading h3 {
    font-size: 15px;
}
.panel .panel-body {
    padding-bottom: 7px;
}
.panel .panel-body .problem {
    font-style: italic;
}
.panel .panel-body .problem em {
    font-style: normal;
}
